// Colors
$color-primary: #54bd95;
$color-primary-dark: #379974;
$color-primary-1: #54be96;
$color-primary-light: #52bdaa;

$color-white: #ffffff;
$color-white-2: #f8f8fa;
$color-grey: #a6a6a6;
$color-grey-light: #f9f8fe;
$color-black-1: #000;
$color-black-2: #191a15;

// Font
$default-font-size: 1.6rem;

// Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 25em; // 400px
