.main {
    padding: 9vw;
    position: relative;

    &::before {
		content: "";
        z-index: -1;
		position: absolute;
		width: 63.4rem;
		height: 63.4rem;
		border-radius: 50%;
		filter: blur(300px);
		background-image: radial-gradient(circle, #52BDAA 0%, #ffffff 100%);
	}

	&::before {
		top: 60%;
		right: 0;
	}
}